@import '@fontsource-variable/montserrat';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  background-color: darkcyan;
  color: white;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  .project-b {
    height: 700px;
  }
}



